body
{
  background-color: #111111;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-size: 24px;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
