.col-md-6
{
  padding: 0px;
  margin: 0px;
  text-align: center;
  position:relative;
  color:black;
  font-size:24px;
  font-family:"Open Sans";
  font-weight:bold;
}
.headrow
{
  background-color: black;
  font-family: "Open Sans";
  font-size: 36px;
  color: #555555;
  padding: 20px;
}
.rounded
{
  border-radius: 10px;
  margin: auto;
  display: block;
}
body
{
 width: 100%;
 height: 100%;
 background-color: black;
}
img:hover
{
  opacity: 0.7;
}
#text
{
  z-index: 1;
color: black;
display: inline-block;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 10px;
text-shadow: 2px 2px white;
}
#subtitle
{
  font-size: 12px;
  font-style: italic;
}
